<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appdevelopment">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDevelopment"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".mypage_follow"
            android:exported="true" />
        <activity
            android:name=".mypage_history"
            android:exported="true" />
        <activity
            android:name=".mypage_liked"
            android:exported="true" />
        <activity
            android:name=".mypage_draft"
            android:exported="true" />
        <activity
            android:name=".mypage_profile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".explaination_memes"
            android:exported="true" />
        <activity android:name=".details_meme"
            android:exported="true" />
        <activity android:name=".mypage_main"
            android:exported="true"/>
        <activity android:name=".search_page"
            android:exported="true"/>
        <activity android:name=".mypage_work"
            android:exported="true"/>
        <activity android:name=".mypage_collect"
            android:exported="true" />
        <activity android:name=".detail_meme2"
            android:exported="true" />
        <activity android:name=".detail_meme3"
            android:exported="true" />
        <activity android:name=".deliver"
            android:exported="true" />
        <activity android:name=".message_memes"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>